body {}

#homePage {
    background-image: url("https://cdn.britannica.com/s:800x450,c:crop/66/195966-138-F9E7A828/facts-turtles.jpg");
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#title {
    text-align: center;
}

#startButton {
    text-align: center;
}

#buildContainer {
    display: inline-flex;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
}

#homeContainer {
    height: 20%;
    width: 10%;
    background-color: rgb(40, 0, 0);
}

#itemsContainer {
    height: 20%;
    width: 46.6666%;
    background-color: rgb(80, 0, 0);
}

#backContainer {
    height: 20%;
    width: 10%;
    background-color: rgb(120, 0, 0);
}

#selectContainer {
    height: 20%;
    width: 33.3334%;
    background-color: rgb(0, 40, 0);
}

#allItemsContainer {
    height: 80%;
    width: 80%;
    background-color: rgb(0, 0, 80);
}

#champContainer {
    height: 80%;
    width: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
}

#champImgContainer {
    width: 100%;
    height: calc(100%/3);
    background-color: rgb(0, 80, 0);
}

#champLvlContainer {
    height: calc(100%/3);
    width: 100%;
    background-color: rgb(0, 120, 0);
}

#champStatsContainer {
    height: calc(100%/3);
    width: 100%;
    background-color: rgb(0, 0, 40);
}
img {
    object-fit: cover;
    width: 100%;
}